{% extends 'main/dada.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        
        {% for as in vacan %}
            <div class="alert alert-warning">
                <h3>{{ as.job_title }}</h3>
                <h5>{{ as.company_name }}</h5>
            </div>
            <div class="job-cards-container" id="jobCards">
            </div>
            
        {% endfor %}
    </div>
{% endblock %}
